// Carbon Design System: https://carbondesignsystem.com/guidelines/typography/overview/


// Font sizes
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-48: 3rem;
$font-size-54: 3.375rem;
$font-size-60: 3.75rem;
$font-size-68: 4.25rem;
$font-size-76: 4.75rem;
$font-size-84: 5.25rem;
$font-size-92: 5.75rem;

// Font weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// Line heights
$line-height-12: 0.75rem;
$line-height-14: 0.875rem;
$line-height-16: 1rem;
$line-height-18: 1.125rem;
$line-height-20: 1.25rem;
$line-height-24: 1.5rem;
$line-height-28: 1.75rem;
$line-height-32: 2rem;
$line-height-36: 2.25rem;
$line-height-42: 2.625rem;
$line-height-48: 3rem;
$line-height-54: 3.375rem;
$line-height-60: 3.75rem;
$line-height-68: 4.25rem;
$line-height-76: 4.75rem;
$line-height-84: 5.25rem;
$line-height-92: 5.75rem;