// Carbon Design System: https://carbondesignsystem.com/guidelines/spacing/overview/

$space-xxxxs: .125rem;
$space-xxxs: .25rem;
$space-xxs: .5rem;
$space-xs: .75rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-xxl: 4rem;
$space-xxxl: 5rem;
$space-xxxxl: 6rem;